/* Global styles */
html { 
	height: 100%;
}
      
body {
	padding: 3em;
	background-color: #B2B0B0;
}

main > div {
	display: inline-block;
}

/* Styling the map-canvas */
#map-canvas {
	margin-top: 7px;
	height: 445px;
	width: 100%;
	border: solid 1px;
}

.route-info {
	visibility: hidden;
}

.route-info__distance, .route-info__duration {
	font-weight: bold;
}

.btn {
	display: block;
	margin: 0 auto 0 auto;
	width: 220px;
}

div.show-route-options {
	cursor: pointer;
	margin-bottom: 20px;
}


div.show-route-options div.pointerDown {
	display: inline-block;
  width: 7px;
  height: 7px;
  border: solid #333;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 5px 0 0 8px;
}

div.show-route-options div.pointerUp {
	display: inline-block;
  width: 7px;
  height: 7px;
  border: solid #333;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  margin: 5px 0 0 5px;
}

.route-options {
	display: none;
}

/* Styles for mobile */
@media screen and (max-width: 400px){

	#map-canvas {
		margin-top: 7px;
		height: 345px;
		width: 100%;
		border: solid 1px;
	}

	#urba_logo {
		width: 200px;
		height: 250px;
	}

}