/* Global styles */
html { 
	height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}
      
body {
	height: 100%;
}

footer {
	margin-top: 20px;
	height: 10%;
}

.loading-mask {
	position: absolute;
	z-index: 1000;
	background: rgba(0,0,0,0.3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-mask span {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: 40%;
	font-size: 35px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

.container {
	height: 100%;
}

main > div {
	display: inline-block;
}



/* Styling form */
.form-view {
	z-index: 2;
	position: fixed;
	padding: 5px;
	height: 100px;
	width: 100%;  
}

form {
	background: rgb(255,215,0);
	height: 100%;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	border: solid #000000 1px;
	box-shadow: 3px 3px 5px;
}

form > .btn {
	display: block;
	margin: 0 auto 0 auto;
	width: 180px;
	position: absolute;
	right: 35px;
	top: 35px;
}

.btn#view-route {
	display: block;
	margin: 0 auto 0 auto;
	width: 180px;
	position: absolute;
	right: 35px;
	bottom: 35px;
	box-shadow: 3px 3px 3px #000000;
}

select {
	width: calc(100% - 400px);
	border-radius: 4px;
	padding: 3px;
}

label {
	width: 200px;
}

/* Styling the map-canvas */
.map-view {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

.route-info {
	position: absolute;
	z-index: 500;
	background: rgba(0,0,0,0.3);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.route-info .btn {
	position: absolute;
	right: 100px;
}

.route-info-data {
	overflow: auto;
	background: rgb(225, 150, 0);
	margin: auto;
	width: 80%;
	padding: 10px;
	border: solid;
	box-shadow: 3px 3px 3px;
	margin-top: 10%;
	margin-bottom: 10%;
	max-height: 75%;
}

.route-info__distance, .route-info__duration {
	font-weight: bold;
}

div.show-route-options {
	cursor: pointer;
	margin-bottom: 20px;
}


div.show-route-options div.pointerDown {
	display: inline-block;
  width: 7px;
  height: 7px;
  border: solid #333;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 5px 0 0 8px;
}

div.show-route-options div.pointerUp {
	display: inline-block;
  width: 7px;
  height: 7px;
  border: solid #333;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  margin: 5px 0 0 5px;
}

.route-options {
	display: none;
}

/* Styles for mobile */
@media screen and (max-width: 400px){

	form {
		padding: 5px !important;
	}

	form > .btn {
		right: 15px;
		top: 67px;
		width: 70px;
		padding: 3px;
	}

	label {
		width: 155px;
		font-size: 12px;
	}

	select {
		width: calc(100% - 160px);
		padding: 1px 0;
	}

	.loading-mask span {
		font-size: 25px;
	}

	.btn#view-route {
		width: 90px;
		right: 10px;
		bottom: 10px;
	}

	.route-info .btn {
		right: 46px;
		padding: 2px;
	}

}