.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

nav {
  height: 60px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  background: rgb(45, 149, 203);
  position: fixed;
  width: 100%;
  padding: 0 15px;
}

nav h1 {
  font-size: 25px;
  display: inline;
  color: white;
  float: right;
}

nav .toggleMenuButton {
  font-size: 27px;
  line-height: 60px;
  color: rgb(52, 51, 51);
  text-decoration: none;
  cursor: pointer;
  margin-right: 30px;
}

aside {
  background: rgb(255, 255, 255);
  position: fixed;
  overflow: hidden;
  height: 100%;
  box-shadow: 3px 0px 5px rgba(0,0,0,0.26);
  z-index: 100;
  width: 0;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

aside.opened {
  width: 250px;
}

.backshadow {
  position: fixed;
  z-index: 10;
  background: rgba(100, 100, 100, 0.4);
}

aside.opened ~ .backshadow {
  height: 100%;
  width: 100%;
}


.searchBox {
  position: relative;
  height: 70px;
  padding: 15px;
  background: rgb(45, 149, 203);
}

.searchBox input {
  position: relative;
  width: 100%;
  border: none;
  background: transparent;
  border-radius: 2px;
  color: white;
  border-bottom: 2px solid rgb(52, 51, 51);
  padding: 5px;
  outline: none;
  font-size: 1.3em;
}

.searchBox input::-webkit-input-placeholder {
  color: rgb(52, 51, 51);
}

.clubList {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 70px);
}

.clubList li {
  padding: 10px;
  list-style: none;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid;
  min-width: 150px;
  line-height: 30px;
  cursor: pointer;
  background: white;
  position: relative;
  -webkit-transition: background 0.5s; /* For Safari 3.1 to 6.0 */
  transition: background 0.5s;
  overflow: hidden;
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.ink {
  display: block; position: absolute;
  background: rgba(180, 40, 40, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.ink.animate {
  animation: ripple 0.65s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
