body {
	padding: 0;
	height: 100%;
	position: fixed;
}

#container {
	height: 100%;
}

/* Index View */
.index-view {
	padding: 0 20px;
	display: block;
}

.index-view h1 {
	margin-top: 110px;
	color: rgb(236, 173, 48);
	font-family: fantasy;
	font-size: 6em;
	text-shadow: 3px 3px 3px rgb(107, 17, 0);
}

.index-view h1, h3 {
	width: 100%;
	text-align: center;
}

.index-view a.btn {
	display: block;
	margin: 10px auto;
	height: 45px;
	line-height: 30px;
	font-size: 1.5em;
	max-width: 450px;
}

/* List View */
.list-view {
	display: block;
	height: 100%;
}

.list-view #search-input {
	float: right;
	width: 50%;
	margin: 7px;
	padding: 1px 5px;
	border: solid 1px #000;
	color: #666666;
}

.list-view .club-list {
	margin: 40px 0 0 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
}

.list-view .club-list li {
	border-bottom: 1px solid #999;
	list-style: none;
	height: 70px;
	padding: 10px; 
	position: relative;
	overflow: hidden;
}

.list-view .club-list li .map {
	position: absolute;
	bottom: 10px;
	top: 10px;
	right: 10px;
	width: 40px;
}

.list-view .club-list li .map img {
	margin: auto;
	display: block;
}

.list-view .club-list li .map span {
	display: block;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
}

.list-view .club-list li .club-name {
	font-weight: bold;
	width: calc(100% - 40px);
}

.list-view .club-list li .club-address {
	width: calc(100% - 40px);
	font-style: italic;
	font-size: smaller;
	color: #666666;
}



/* Styles for mobile */
@media screen and (max-width: 400px) {
	.list-view .club-list li .map {
		padding: 2px;
		bottom: 5px;
		top: 5px;
		right: 5px;
	}
}