html, body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

#menupanel {
  position: static;
}

#searchheader {
  font-size: 17px;
  height: 45px;
}

#searchheader paper-input {
  height: 100%;
  margin-bottom: 15px;
}

#navheader {
  background-color: #526E9C;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

google-map {
	display: block;
  position: relative;
  height: 100%;
}