/* Global styles */
html { 
	height: 100%;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}
      
body {
	height: 100%;
}

.loading-mask {
	position: absolute;
	z-index: 1000;
	background: rgba(0,0,0,0.3);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-mask span {
	height: 100%;
	width: 100%;
	text-align: center;
	position: absolute;
	margin-top: 40%;
	font-size: 35px;
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

.navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	border-bottom: solid 1px;
	box-shadow: 0px 1px 5px #888;
	background: #FFFFFF;
	z-index: 10;
}

.navbar a {
	height: 40px;
	line-height: 26px;
	display: inline-block;
	padding: 6px 15px;
	text-decoration: none;
	font-weight: bold;
}

.container {
	height: 100%;
}

main > div {
	display: inline-block;
}

/* Styling form */
.form-view {
	z-index: 2;
	position: fixed;
	padding: 5px;
	height: 100px;
	width: 100%;
	-webkit-transition: 0.5s ease-out;
}

form {
	background: rgb(255,215,0);
	height: 100%;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	border: solid #000000 1px;
	box-shadow: 3px 3px 5px;
}

form > .btn {
	display: block;
	margin: 0 auto 0 auto;
	width: 180px;
	position: absolute;
	right: 35px;
	top: 35px;
}

.btn#view-route {
	display: block;
	margin: 0 auto 0 auto;
	width: 180px;
	position: absolute;
	right: 35px;
	bottom: 35px;
	box-shadow: 3px 3px 3px #000000;
}

select {
	width: calc(100% - 280px);
	margin-right: 206px;
	border-radius: 4px;
	padding: 3px;
}

label {
	width: 70px;
}

/* Styling the map-canvas */
.map-view {
	height: calc(100% - 40px);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 40px;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

.route-info {
	position: absolute;
	z-index: 500;
	background: rgba(0,0,0,0.3);
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.route-info .btn {
	position: absolute;
	right: 5px;
	top: 5px;
	border-radius: 50%;
	padding: 3px 8px;
}

.route-info-data {
	overflow: hidden;
	position: relative;
	background: rgb(225, 150, 0);
	margin: auto;
	width: 80%;
	border: solid;
	box-shadow: 3px 3px 3px;
	margin-top: 2em;
	margin-bottom: 2em;
	height: 88%;
	max-height: 88%;
	min-height: 88%;
}

.route-info-data > div:first-child {
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.route-info-data > div:first-child span {
	line-height: 40px;
	width: 100%;
	text-align: center;
	position: absolute;
	font-weight: bold;
	font-size: large;
	padding-right: 40px;
}

.route-info-data > div:last-child {
	overflow: auto;
	margin-top: 40px;
	height: 100%;
	padding: 10px;
}

.route-info__distance, .route-info__duration {
	font-weight: bold;
}

div.show-route-options {
	cursor: pointer;
	margin-bottom: 20px;
}


div.show-route-options div.pointerDown {
	display: inline-block;
  width: 7px;
  height: 7px;
  border: solid #333;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 5px 0 0 8px;
}

div.show-route-options div.pointerUp {
	display: inline-block;
  width: 7px;
  height: 7px;
  border: solid #333;
  border-width: 3px 3px 0 0;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  margin: 5px 0 0 5px;
}

.route-options {
	display: none;
}

#info-btn {
	position: absolute;
	bottom: 10px;
	left: 10px;
	border-radius: 50%;
}

.alert.alert-warning.alert-dismissible {
	position: absolute;
	bottom: 10px;
	background: rgb(248, 180, 101);
	width: 90%;
	margin: 0 50px;
	border: solid 1px;
	padding: 5px;
}

#search-btn {
	float: right;
}

.form-view.left {
	-webkit-transform: translateX(100%);
}

/* Styles for mobile */
@media screen and (max-width: 400px){

	form {
		padding: 25px 5px 5px 5px !important;
	}

	form span {
		position: absolute;
		top: 10px;
		display: block;
		width: 91%;
		text-align: center;
		font-weight: bold;
	}

	form > .btn {
		position: relative;
		top: 0;
		right: 0;
		width: 100%;
		margin: 3px auto;
		padding: 3px;
	}

	.form-view {
		height: 128px;
	}

	label {
		width: 50px;
		font-size: 12px;
	}

	select {
		width: calc(100% - 54px);
		margin-right: 0px;
		padding: 2px;
		border-radius: 2px;
		background: #FFFFFF;
	}

	.loading-mask span {
		font-size: 25px;
	}

	.btn#view-route {
		width: 90px;
		right: 10px;
		bottom: 10px;
	}

	.alert.alert-warning.alert-dismissible {
		width: 80%;
	}
}