html, body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

.hidden, ::shadow .hidden {
  visibility: none;
  display: none;
}

core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; 
}

#navheader {
  background-color: #526E9C;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

google-map {
	display: block;
  position: relative;
  height: 100%;
}

paper-fab {
  position: absolute;
  right: 15px;
  bottom: 20px;
}

::shadow #mainContainer {
  overflow-y: hidden;
}