<link rel="import" href="../../vendor/paper-dialog/paper-action-dialog.html">
<link rel="import" href="../../vendor/paper-button/paper-button.html">
<polymer-element name="geo-dialog" attributes="geoEnabled latitude longitude">
	<template>
		<paper-action-dialog id="geoDialog" heading="Geolocalización no disponible">
		  <p>{{message}}</p>
		  <paper-button affirmative autofocus role="button">OK</paper-button>
		</paper-action-dialog>
	</template>
	<script>
		Polymer({
			ready: function() {
				this.geoEnabled = true;
				this.message = 'Su navegador no soporta la geolocalización o usted ha denegado el acceso. No podrás ver las rutas en el mapa, pero sí las direcciones de los clubes';
				if ('geolocation' in navigator) {
					navigator.geolocation.getCurrentPosition(this.positionSuccess.bind(this), this.positionError.bind(this), {
					  maximumAge: 30000, 
					  timeout: 12700
					});
				} else {
					this.$.geoDialog.toggle();
					this.geoEnabled = false;
				}
			},
			positionSuccess: function(position) {
			  this.latitude = position.coords.latitude;
			  this.longitude = position.coords.longitude;
			},
			positionError: function() {
			  this.message = 'No se pudo encontrar su posición. Revise su conexión y vuelva a intentarlo.';
			  this.$.geoDialog.toggle();
			  this.geoEnabled = false;
			}
    });
	</script>
</polymer-element>